<VirtualHost *:{{ http_port }}>
   ServerName {{ http_host }}
   DocumentRoot /var/www/website/wordpress
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined

   <Directory /var/www/website/wordpress>
         AllowOverride all
         Require all granted
   </Directory>

   <IfModule mod_dir.c>
       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
   </IfModule>

</VirtualHost>