 <?php
/**
 * La configuration de base de votre installation WordPress.
 *
 * Ce fichier est utilisé par le script de création de wp-config.php pendant
 * le processus d’installation. Vous n’avez pas à utiliser le site web, vous
 * pouvez simplement renommer ce fichier en « wp-config.php » et remplir les
 * valeurs.
 *
 * Ce fichier contient les réglages de configuration suivants :
 *
 * Réglages MySQL
 * Préfixe de table
 * Clés secrètes
 * Langue utilisée
 * ABSPATH
 *
 * @link https://fr.wordpress.org/support/article/editing-wp-config-php/.
 *
 * @package WordPress
 */

 define( 'WP_MEMORY_LIMIT', '1024M' );

// ** Réglages MySQL - Votre hébergeur doit vous fournir ces informations. ** //
/** Nom de la base de données de WordPress. */
define( 'DB_NAME', '{{ mysql_db }}' );

/** Utilisateur de la base de données MySQL. */
define( 'DB_USER', '{{ mysql_user }}' );

/** Mot de passe de la base de données MySQL. */
define( 'DB_PASSWORD', '{{ mysql_password }}' );

/** Adresse de l’hébergement MySQL. */
define( 'DB_HOST', 'localhost' );

/** Jeu de caractères à utiliser par la base de données lors de la création des tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/**
 * Type de collation de la base de données.
 * N’y touchez que si vous savez ce que vous faites.
 */
define( 'DB_COLLATE', '' );

/**#@+
 * Clés uniques d’authentification et salage.
 *
 * Remplacez les valeurs par défaut par des phrases uniques !
 * Vous pouvez générer des phrases aléatoires en utilisant
 * {@link https://api.wordpress.org/secret-key/1.1/salt/ le service de clés secrètes de WordPress.org}.
 * Vous pouvez modifier ces phrases à n’importe quel moment, afin d’invalider tous les cookies existants.
 * Cela forcera également tous les utilisateurs à se reconnecter.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         'f6ke{nPFzTSc{,rC 3?aS}!_46>RNX|%elo*cNdN~$t.jd6i,g*{mD8%HCL4yJ_Y' );
define( 'SECURE_AUTH_KEY',  '&|E3|KLjRA{L`58d&Hd:D{o^>novx}SNuK=1iOV{rIjqJ2fD==IU&Il7BuPZ7mmH' );
define( 'LOGGED_IN_KEY',    ')$V(v`GnMLg<2$]Cz_QK=?x~a>|B22jmAFEqVmP9CT[{X$eHu4TmDj`|I4AP+Re~' );
define( 'NONCE_KEY',        'c+=.)c]UiVZ=0Q1NBx+^zqR@b!kuZ3{8iNZhckpd;XF-bSO{raWlNo~lcaGnQVBq' );
define( 'AUTH_SALT',        'F^cu[qaaWK]g]!g)#eF 1bC@Fz9v049X~pahNZ-R=CK6:q*5XXCp{VsZ! )|0Mn%' );
define( 'SECURE_AUTH_SALT', '&lQR2jy_.J4On[yzRT4Fa@10!O#AV8oG?#aAAiJo556.K&ph*VY-|`oEM8m %z7*' );
define( 'LOGGED_IN_SALT',   'qkh1/.W8w&;e^dO<:Il7|tr3CR.pXG$hDmkJ7c/MV& :$/&RoC(uByAlpz|NeIYG' );
define( 'NONCE_SALT',       'nOB,B?K!cao1Lqg#N*MPg.f4K];46qYDktzzw;sT=KJ;1{nf/aff2JJ3#>@X)E&:' );
/**#@-*/

/**
 * Préfixe de base de données pour les tables de WordPress.
 *
 * Vous pouvez installer plusieurs WordPress sur une seule base de données
 * si vous leur donnez chacune un préfixe unique.
 * N’utilisez que des chiffres, des lettres non-accentuées, et des caractères soulignés !
 */
$table_prefix = 'wp_';

/**
 * Pour les développeurs : le mode déboguage de WordPress.
 *
 * En passant la valeur suivante à "true", vous activez l’affichage des
 * notifications d’erreurs pendant vos essais.
 * Il est fortement recommandé que les développeurs d’extensions et
 * de thèmes se servent de WP_DEBUG dans leur environnement de
 * développement.
 *
 * Pour plus d’information sur les autres constantes qui peuvent être utilisées
 * pour le déboguage, rendez-vous sur le Codex.
 *
 * @link https://fr.wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* C’est tout, ne touchez pas à ce qui suit ! Bonne publication. */

/** Chemin absolu vers le dossier de WordPress. */
if ( ! defined( 'ABSPATH' ) )
  define( 'ABSPATH', dirname( __FILE__ ) . '/' );

/** Réglage des variables de WordPress et de ses fichiers inclus. */
require_once( ABSPATH . 'wp-settings.php' );
